.about-container .left-about p{
   padding-left: 0;
}


@media screen and (max-width: 600px){
    header{
        padding: 0 !important;
    }

    


    .theme-btn{
        width: 50px;
        height: 50px;
    }

    .header-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .left-header{
        .h-shape{
            display: none;
        }
    }
    .right-header{
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }
    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }



    .about-container{
        grid-template-columns: 1fr;
        padding: 10rem !important;
       
        .right-about{
            grid-template-columns: 1fr;
            margin-right: 2rem !important;
        }
        
        
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }


    .about-stats{
        padding: 0 !important;
        .progress-bars{
           grid-template-columns: 1fr;
         }
    }
       
     

     .timeline{
        grid-template-columns: 1fr;
       width: 90%;
    
     }

     .container{
        padding: 6rem 4rem !important;
    }

    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }





    .portfolios{
        grid-template-columns: 1fr;
    }


    .blogs{
        grid-template-columns: 1fr;
    }




    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.3rem;
            }
            .bg-text{
                font-size: 2.3rem;
            }
        }
    }


    .contact-container{
        flex-direction: column;
        align-items: center;
        .contact-info{
            align-self: start;
        }
    }
  


}


@media screen and (max-width:898px){

    header{
        padding: 0 !important;
    }

    .header-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }


    .left-header{
        .h-shape{
            display: none;
        }
    }
    .right-header{
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }
    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }

    .theme-btn{
        width: 50px;
        height: 50px;
        right: 5.4%;
    }


    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }


    .about-container{
        grid-template-columns: 1fr;
        padding: 0 !important;
       
        .right-about{
            grid-template-columns: 1fr;
            margin-right: 2rem !important;
        }
        
        
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }


    .about-stats{
        .progress-bars{
           grid-template-columns: 1fr;
         }
    }

    .container{
        padding: 6rem 4rem !important;
    }


    .timeline{
        grid-template-columns: 1fr;
       width: 90%;
    
     }



     .portfolios{
        grid-template-columns: 1fr;
    }

    .blogs{
        grid-template-columns: 1fr;
    }

    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.3rem;
            }
            .bg-text{
                font-size: 2.3rem;
            }
        }
    }


    .contact-container{
        flex-direction: column;
        align-items: center;
        .right-contact{
            align-self: start;
            width: 90%;
            margin: 0 !important;
        }
        .i-c-2{
            flex-direction: column;
            
            &:last-child{
                margin-top: 90px;
            }
        }


    }
  

}




@media  screen and (max-width:1324px) {
    header{
        padding: 0 !important;
    }

    .header-content{
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 6rem;
    }


    .left-header{
        .h-shape{
            display: none;
        }
    }
    .right-header{
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }
    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }

    .theme-btn{
        width: 50px;
        height: 50px;
        right: 5.4%;
    }


    .controls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 1rem .3rem;
        }
    }


    .about-container{
        grid-template-columns: 2fr;
        padding: 0 !important;
       
        .right-about{
            grid-template-columns: 2fr;
            margin-right: 2rem !important;
        }
        
        
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }


    .about-stats{
        .progress-bars{
           grid-template-columns: 2fr;
         }
    }

    .container{
        padding: 6rem 4rem !important;
    }


    .timeline{
        grid-template-columns: 2fr;
       width: 90%;
    
     }



     .portfolios{
        grid-template-columns: 2fr;
    }

    .blogs{
        grid-template-columns: 2fr;
    }

    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.3rem;
            }
            .bg-text{
                font-size: 2.3rem;
            }
        }
    }


    .contact-container{
        flex-direction: column;
        align-items: center;
        .right-contact{
            align-self: start;
            width: 90%;
            margin: 0 !important;
        }
        .i-c-2{
            flex-direction: column;
            
            &:last-child{
                margin-top: 90px;
            }
        }


    }
  
}

